body {
    font-family: "Sintony", sans-serif;
}

.openning {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(154, 53, 239, 1) 18%, rgba(75,0,196,1) 53%, rgba(65, 118,214, 1) 100%);
}

.openning img {
    width: 420px;
}

.dark{
    height: 90vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 50px 0;
    text-align: center;
    background: linear-gradient(90deg, rgba(0,0,0,1) 18%, rgba(64, 19, 122, 1) 53%, rgba(122, 19, 99,1) 100%);
}


.logotipo h1 {
    color: white;
    font-size: 48px;
    margin-top: 30px;
}

.profiles {
    display: flex;
    gap: 50px;
}
.profile img {
    border-radius: 100%;
    cursor: pointer;
}
.profile img:hover{
    outline: 4px solid #9E86FF;a
    border-radius: 100%;
    box-sizing: border-box;
    transition: all 0.3s linear;
}

.profiles h2{
    color: white;
    font-size: 16px;
    margin-top: 20px;
}
.add{
    display:flex;
    gap: 40px;
}

.btn-primary{
    background-color: #60448E;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 100px;
    border: none;
    width: 200px;
}

.btn-primary:hover{
    background-color: #9E86FF;
    cursor: pointer;
    transition: 0.2s linear;
    transform: scale(1.02);
}

.manager a{
    color: #9E86FF;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.manager a:hover{
    text-decoration: underline;
    transition: all 0.2s linear;
}

.bg-dark{
    height: 100vh;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.bg-dark .logo{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.bg-dark .logo img{
    width: 120px;
}

.bg-dark h3{
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.login{
    width: 600px;
    margin: 0 auto;
}
.login h1{
    color: white;
    font-size: 42px;
    font-weight: 700;
    text-align: center;
}
.login p{
    color: white;
    font-size: 16px;
    margin: 20px 0;
    text-align: center;
    margin: 20px 0 40px 0;
}

.login .box{
    background-color: rgba(26, 29, 32, 0.8); 
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.login .box label{
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;

}
.login .box input{
    background-color: transparent;
    height: 48px;
    border: 1px solid #5f5f5f;
    border-radius: 4px;
}
.login .box button{
    background-color: #fff;
    color: #000;
    width: 180px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 6px;
    padding: 15px 30px;
    margin: 40px 0 0 0;
}

.infos h4{
    color: white;
    font-size: 18px;
    margin: 40px 0 0 0;
}